@import "saudacao-condicional/saudacao-condicional.component.scss";

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/degrade-fim-do-dia.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat-x;
}
