<div class="flex-container">
    <div class="clima-atual">
        @if (clima) {
        <div>
            <span>
                <h1 (click)="obterPrevisao()">{{ horaAtual | date: 'H:mm' }}</h1>
                <h2>{{ saudacao }}</h2>
            </span>
            <p>Atualmente</p>
            <h1> {{ clima.main.temp | number: '2.0-0' }}°C </h1>
            <p style="text-transform: capitalize;"> {{ clima.weather[0].description }} </p>
            <p style="text-transform: capitalize;">{{ diaDaSemana }} - {{ city }}</p>
        </div>
        }

        @if (!clima) {
        <div>
            <p>Carregando...</p>
        </div>
        }
    </div>
</div>